extends layout

block content
  section
    h2 #{section}

    nav
      ul
        each article in articles
          li 
            a(href=`#${article.id}`) #{article.heading}

    each article in articles
      article
        h3(id=`${article.id}`) #{article.heading}
        each link in article.links
          p #[a(href=link.href)= link.title]
        